
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=15cb7c219477222f9b3eb6c50f942e20
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress