
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=c8416fdb8da1353515e7b0f858392b22
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress