@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';
@import 'grid/bootstrap';
@import 'grid/bootstrap-theme';
@import 'super_sprite';
@import 'owl.carousel';
@import 'owl.theme';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $fnorm;
  line-height: $base-line-height;

  min-width: 320px;

  transition: $base-transition;

  color: $base-font-color;
  background-color: $base-background-color;
  background-image: url(../img/body-bg.png);
  background-position-y: 637px;

  -webkit-font-smoothing: antialiased;
  &:before {
    position: absolute;
    bottom: 265px;
    left: 0;

    width: 1445px;
    height: 110px;

    background-image: url(../img/orange-bg.png);

    @extend .dblock;
  }
}
.articles {
  background-image: url(../img/articles-bg.png);
  background-position-y: 590px;
}
.contacts {
    background-image: url(../img/contacts-bg.png);
  background-repeat: no-repeat;
  background-position-y: 400px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.container {
  position: relative;

  max-width: $width;
}

header {
  height: 740px;

  background-image: url(../img/hedaer-bg.png);
  background-repeat: no-repeat;
  .logo {
    display: block;
    img {
      max-width: 100%;
      padding-top: 50px;
    }
  }
}
nav {
  font-family: 'Helios Cond';
    display: flex;
    justify-content: space-around;
  padding-bottom: 15px;
      margin-bottom: -5px;
  ul {
    @extend .justify-child;
    @extend .clearfix;
        padding-right: 13px;
    li {
      display: inline-block;

      padding: 0 18px;
      a {
        font-size: 16px;
        text-transform: uppercase;
        color: #fff;
        &:hover {
          text-decoration: none;

          color: $orange;
        }
        &:active {
          color: $orange;
        }
      }
    }
  }
  .headnav {
    font-size: 100%;
  }
}
.header-items {
  display: flex;

  align-items: flex-end;
  justify-content: space-around;
  .header-phones {
    font-family: 'Lato';
    font-weight: 400;

    display: flex;

    justify-content: flex-end;
    .header-phone1 {
      width: 150px;
          margin-right: 10px;
      p {
        font-size: 30px;
        font-weight: 800;
        margin:0;
        color: #fff;
        span {
          font-size: 22px;
          font-weight: 800;

          display: block;

          width: 100%;
          padding-bottom: 5px;

          color: $orange;
        }
      }
    }
    .header-phone2 {
      width: 150px;
      p {
        font-size: 30px;
        font-weight: 800;

        color: #fff;
        span {
          font-size: 22px;
          font-weight: 800;

          display: block;

          width: 100%;
          padding-bottom: 5px;

          color: $orange;
        }
      }
    }
  }
}
.second-header-row {
  padding-top: 130px;
  .first-half {
    font-family: 'Lato';
    &:before {
      position: absolute;
      right: -247px;
      bottom: -125px;

      width: 434px;
      height: 397px;

      background-image: url(../img/header-engine.png);

      @extend .dblock;
    }
    h4 {
      font-size: 42px;
      font-weight: 800;

      width: 310px;

      text-transform: uppercase;

      color: #fff;
    }
    p {
      font-size: 16px;
      font-weight: 400;

      width: 390px;
      padding-top: 20px;

      color: #b6b6b6;
    }
  }
  .second-half {
    font-family: 'Lato' ;

    display: flex;
    flex-direction: column;

    align-items: flex-end;
    h6 {
      font-size: 22px;
      font-weight: 400;

      margin-right: 158px;

      color: #fff;
      &:before {
        position: absolute;
        right: 15px;

        width: 70px;
        height: 20px;

        background-image: url(../img/form-title-img.png);

        @extend .dblock;
      }
    }
    .wpcf7-form {
      p {
        display: flex;
        flex-direction:column;
        .name-field {
        width: 335px;
        height: 40px;
        margin-bottom: 20px;
        padding-left: 10px;
        opacity: .8;
        border: 1px solid #959494;
        background-color: #3b393a;
        -webkit-input-placeholder {
          color: #959494;
        }
      }
      .phone-field {
        width: 335px;
        height: 40px;
        margin-bottom: 20px;
        padding-left: 10px;

        opacity: .8;
        border: 1px solid #959494;
        background-color: #3b393a;
        -webkit-input-placeholder {
          color: #959494;
        }
      }
      .question-field {
        width: 335px;
        height: 100px;
        padding-left: 10px;

        opacity: .8;
        border: 1px solid #959494;
        background-color: #3b393a;
        -webkit-input-placeholder {
          color: #959494;
        }
      }
      .header-button {
        font-family: 'Helios Cond';
        font-size: 20px;
        font-weight: 400;
        line-height: 1;

        display: block;

        width: 170px;
        height: 50px;
        margin-top: 18px;
        margin-left: 165px;

        color: #fff;
        border-radius: 0;
        background-color: $orange;
        &:before {
          position: absolute;
          top: 283px;
          left: 305px;

          @extend .dblock;
          @include triangle(95px 50px, $orange, up-right);
        }
      }
      }
    }
    .invalid {
    padding-left: 220px;
    }
  }
}
.orange-bg {
  border-left: 1px solid black;
  p {
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;

    width: 500px;
  }
}
section {
  padding: 0 0 $footer;
}
h1 {
  font-family: 'Helios Cond' ;
  font-size: 38px;
  font-weight: 800;

  padding-top: 80px;
  padding-bottom: 50px;

  text-align: center;
  text-transform: uppercase;

  color: $orange;
}
.our-job {
  padding-bottom: 135px;
  .job-img {
    display: block;
    display: flex;

    width: 263px;
    height: 170px;

    text-align: center;

    justify-content: center;
    align-items: center;
    img {
      max-height: 63%;
    }
  }
  p {
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;

    text-align: center;
    text-transform: uppercase;
    .orange-words {
      font-weight: 800;

      color: $orange;
    }
  }
}
.about-us {
  font-family: 'Lato' ;

  padding-bottom: 180px;
  &:before {
    position: absolute;
    z-index: -1;
    bottom: 955px;
    left: 1%;

    width: 575px;
    height: 590px;

    background-image: url(../img/before-engine.png);
    background-repeat: no-repeat;

    @extend .dblock;
  }
  &:after {
    position: absolute;
    z-index: -1;
    right: 9%;
    bottom: 928px;

    width: 837px;
    height: 616px;

    background-image: url(../img/after-engine.png);
    background-repeat: no-repeat;

    @extend .dblock;
  }
  h4 {
    font-size: 38px;
    font-weight: 800;

    padding-bottom: 40px;

    text-align: center;
    text-transform: uppercase;

    color: $orange;
  }
  h6 {
    font-weight: 800;

    padding-top: 20px;

    text-transform: uppercase;

    flex: 16px;
  }
  p {
    font-size: 16px;
    font-weight: 400;

    padding-top: 20px;
  }
}
.advantages {
  height: 710px;

  background-image: url(../img/adv-bg.png);
  background-size: cover;
  h4 {
    font-family: 'Helios Cond' ;
    font-size: 37px;
    font-weight: 800;

    padding-top: 170px;
    padding-bottom: 100px;

    text-align: center;
    text-transform: uppercase;

    color: $orange;
  }
  .col-md-4 {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    p {
      font-family: 'Lato' ;
      font-size: 24px;
      font-weight: 800;

      display: block;

      padding-top: 50px;

      text-transform: uppercase;

      color: #fff;
    }
  }
}
.blog {
  height: 590px;
  background-image: url(../img/blog-footer-bg.png);
  background-repeat: no-repeat;
  background-position-y: 480px;
  h4 {
    font-family: 'Helios Cond' ;
    font-size: 38px;
    font-weight: 800;

    padding-top: 15px;
    padding-bottom: 40px;

    text-align: center;
    text-transform: uppercase;

    color: $orange;
  }
  .col-md-3 {
    font-family: 'Lato' ;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    img {
      width: 270px;
    }
    h6 {
      font-size: 14px;
      font-weight: 800;

      padding: 25px 0;

      text-transform: uppercase;
    }
    .blog-descr {
      font-size: 14px;
      font-weight: 400;

      width: 100%;

      text-align: left;

      color: #848484;
    }
    .blog-date {
      font-size: 14px;
      font-weight: 400;

      width: 100%;
      padding-top: 20px;

      color: #848484;
      span {
        font-weight: 800;

        float: right;

        text-transform: uppercase;

        color: $orange;
      }
    }
  }
  .blog-button {
    font-weight: 800;

    padding-top: 50px;

    text-align: center;
    a {
      font-size: 18px;
      font-weight: 800;

      text-transform: uppercase;

      color: $orange;
      &:before {
        position: absolute;
        top: 43%;
        left: 41%;

        width: 220px;
        height: 55px;

        background-image: url(../img/button-border.png);
        background-repeat: no-repeat;

        @extend .dblock;
      }
    }
  }
}
.looper {
  @extend .clearfix;
}
.articles-block {
  .row {
    display: flex;

    justify-content: center;
    align-items: center;
    .col-md-6 {
      h6 {
        font-family: 'Helios Cond';
        font-size: 22px;
        font-weight: 400;

        color: $orange;

        page-break-inside: 40px;
      }
      p {
        font-family: 'Helios Cond';
        font-size: 16px;
        font-weight: 800;
      }
    }
  }
}
.article-slider {
  padding-top: 50px;
  font-family: 'Lato' ;
  height: 720px;
  background-image: url(../img/blog-footer-bg.png);
  background-repeat: no-repeat;
  background-position-y: 600px;
  &:before {
    position: absolute;
    z-index: -1;
    bottom: -210px;
    left: 1%;
    width: 575px;
    height: 590px;
    background-image: url(../img/before-engine.png);
    background-repeat: no-repeat;
    @extend .dblock;
  }
  &:after {
    position: absolute;
    z-index: -1;
    right: 8%;
    bottom: -250px;
    width: 837px;
    height: 616px;
    background-image: url(../img/after-engine.png);
    background-repeat: no-repeat;

    @extend .dblock;
  }
  #owl-demo {
    .item {
      margin: 3px;
      padding:0 15px;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
      h6 {
      font-size: 14px;
      font-weight: 800;
      padding: 25px 0;
      text-transform: uppercase;
    }
        .article-descr {
      font-size: 14px;
      font-weight: 400;
      width: 100%;
      text-align: left;
      color: #848484;
      font-weight: 400;
    }
    .article-date {
      font-size: 14px;
      font-weight: 400;
      width: 100%;
      padding-top: 20px;
      color: #848484;
      span {
        font-weight: 800;
        float: right;
        text-transform: uppercase;
        color: $orange;
        font-weight: 800;
      }
    }
    }
    .owl-pagination {
      .owl-page {
        &:first-child {
          span {
        background-image: url(../img/btn-prew.png);
        background-repeat: no-repeat;
        height: 65px;
        width: 50px;
        border-radius:0;
        opacity: 1;
        position: absolute;
        left: -70px;
        top: 40%;
      }
        }
      }
      span {
        background-image: url(../img/btn-next.png);
        background-repeat: no-repeat;
        height: 65px;
        width: 50px;
        border-radius:0;
        background-color: none;
        opacity: 1;
        position: absolute;
        right: -70px;
        top: 40%;
      }
    }
  }
}
.gallery {
  #owl-demo-gallery {
    .item {
      height: 460px;
      width: 760px;
      margin: 0 auto;
      img{
    display: block;
    width: 100%;
    height: auto;
}
    }
    .owl-pagination {
      .owl-page {
        &:first-child {
          span {
        background-image: url(../img/btn-prew.png);
        background-repeat: no-repeat;
        height: 65px;
        width: 50px;
        border-radius:0;
        opacity: 1;
        position: absolute;
        left: 105px;
        top: 40%;
      }
        }
      }
      span {
        background-image: url(../img/btn-next.png);
        background-repeat: no-repeat;
        height: 65px;
        width: 50px;
        border-radius:0;
        background-color: none;
        opacity: 1;
        position: absolute;
        right: 105px;
        top: 40%;
      }
    }
    .owl-buttons {
        display: none;
      }
  }
}
.gallery-content {
  font-family: 'Helios Cond' ;
  height: 650px;
  background-image: url(../img/blog-footer-bg.png);
  background-repeat: no-repeat;
  background-position-y: 540px;
  &:before {
    position: absolute;
    z-index: -1;
    bottom: -210px;
    left: 1%;
    width: 575px;
    height: 590px;
    background-image: url(../img/before-engine.png);
    background-repeat: no-repeat;
    @extend .dblock;
  }
  &:after {
    position: absolute;
    z-index: -1;
    right: 8%;
    bottom: -240px;
    width: 837px;
    height: 616px;
    background-image: url(../img/after-engine.png);
    background-repeat: no-repeat;

    @extend .dblock;
  }
  h6 {
      font-size: 12px;
      font-weight: 800;
      padding: 25px 0;
      text-transform: uppercase;
      text-align: center;
      color:$orange;
    }
  h5 {
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    color:$orange;
    text-align: center;
    padding-bottom: 60px;
  }
}



footer {
  height: $footer;
  margin: $footer_margin auto 0;

  background-color: $gray-light;
  .goole-map {
    width: 100%;
  }
  .rights-block {
    background-color: #2e2e2e;
    text-align: center;
    height: 40px;
    p {
      font-family: 'Helios Cond';
      font-weight: 800;
      color:#fff;
      font-size: 14px;
      line-height:2.9;
    }
  }
}
.contact-page {
  font-family: 'Helios Cond' ;
  height: 300px;
   background-image: url(../img/blog-footer-bg.png);
  background-repeat: no-repeat;
  background-position-y: 180px;
  &:before {
    position: absolute;
    z-index: -1;
    bottom: -300px;
    left: 1%;
    width: 575px;
    height: 590px;
    background-image: url(../img/before-engine.png);
    background-repeat: no-repeat;
    @extend .dblock;
  }
  &:after {
    position: absolute;
    z-index: -1;
    right: 8%;
    bottom: -330px;
    width: 837px;
    height: 616px;
    background-image: url(../img/after-engine.png);
    background-repeat: no-repeat;

    @extend .dblock;
  }
    p {
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
    span {
      font-size: 18px;
      font-weight: 800;
      text-transform: uppercase;
      padding-left: 20px;
    }
  }
}
.category-page {
  font-family: 'Lato';
  .single-block {
    border-bottom: 1px solid grey;
  padding:15px 0;

    .feature-img {
      img {
        float: left;
    padding-right: 20px;
      }
    }
    .inner-title {
      a {
    font-size: 18px;
    font-weight: 800;
    color:$orange;
  }
    }
    .date {
      padding-top: 10px;
    }
  }
}

.archive {
  article {
  .pagination {
padding-bottom: 160px;
   background-image: url(../img/blog-footer-bg.png);
  background-repeat: no-repeat;
  background-position-y: 180px;
  height: 50px;
  text-align: center;
  margin: 30px 0;
  .page-numbers {
    height: 30px;
    width: 30px;
    border: 1px solid grey;
        line-height: 1.3;
        font-size: 22px;
      font-weight: 400;
      color:$orange;
      padding: 0 7px;
        &:hover {
          background-color: $orange;
          text-decoration: none;
            color:#477dca;
        }
  }
  }
}
}
.error404 {
  font-family: 'Lato';
  article {
      background-image: url(../img/blog-footer-bg.png);
      background-repeat: no-repeat;
      background-position-y: 520px;
    height: 700px;
    p {
      text-align: center;
      font-size: 18px;
      font-weight: 400;
 }
      h2 {
        text-align: center;
        a {
      font-size: 20px;
      font-weight: 800;
      color:$orange;
        }
    }
.glass1 {
      width: 674px;
    height: 549px;
    left: -40px;
    z-index: 110;
    top: 50%;
    background-image: url(../img/glass1.png);
    position: absolute;
  }
  .glass2 {
        width: 262px;
    height: 285px;
    right: 7%;
    z-index: 109;
    top: 30%;
    background-image: url(../img/glass2.gif);
    position: absolute;
  }
    .glass3 {
        width: 262px;
    height: 285px;
    left: 0;
    z-index: 109;
    top: 15%;
    background-image: url(../img/glass2.gif);
    position: absolute;
  }
}
}
@import 'fonts/font_fontawesome';
@import 'fonts/font_roboto';
@import 'fonts/lato';
@import 'fonts/helios_cond';
@import 'base64';
@import 'import/print';
